<?xml version="1.0"?>
<launch>

  <!-- send the robot XML to param server -->


  <!-- push robot_description to factory and spawn robot in gazebo -->
  <include file="$(find urdf_models)/launch/1_poly.launch" ns="poly1" />
  <include file="$(find urdf_models)/launch/2_poly.launch" ns="poly2" />
  <include file="$(find urdf_models)/launch/3_poly.launch" ns="poly3" />
  <include file="$(find urdf_models)/launch/4_poly.launch" ns="poly4" />
  <include file="$(find urdf_models)/launch/5_poly.launch" ns="poly5" />


</launch>
