<?xml version="1.0"?>
<launch>
  <!-- Spawn five objects. -->
  <include file="$(find urdf_models)/launch/spawn_object.launch" ns="poly1">
    <arg name="model_name" value="1_poly"/>
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.84"/>
  </include>
  <include file="$(find urdf_models)/launch/spawn_object.launch" ns="poly2">
    <arg name="model_name" value="2_poly"/>
    <arg name="x" value="0.2"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.84"/>
  </include>
  <include file="$(find urdf_models)/launch/spawn_object.launch" ns="poly3">
    <arg name="model_name" value="3_poly"/>
    <arg name="x" value="0.4"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.84"/>
  </include>
  <include file="$(find urdf_models)/launch/spawn_object.launch" ns="poly4">
    <arg name="model_name" value="4_poly"/>
    <arg name="x" value="0.6"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.84"/>
  </include>
  <include file="$(find urdf_models)/launch/spawn_object.launch" ns="poly5">
    <arg name="model_name" value="5_poly"/>
    <arg name="x" value="0.8"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="0.84"/>
  </include>
</launch>
